/* 
* Styles
*/

:root {
    --dark: rgb(21, 24, 26);
    --light: rgb(241, 236, 226);
    --light-20: rgba(241, 236, 226, .2);
    --primary: rgb(0, 195, 183);
    --secondary: rgb(23, 161, 152);
}

body {
    margin: 0;
    font-family: monospace;
    background-color: var(--dark);
    color: var(--light);
}

button {
    border: none;
    background: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-decoration: none;
    margin: 0;
}

/* 
* Utilities
*/

.hidden {
    display: none;
}

/* 
* Intro
*/

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
}

#intro h1 {
    font-size: 3rem;
}

#intro p {
    margin: 0;
}

/* 
* Form
*/

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 6em 0;
}

#questions form {
    margin: 0;
}

.question {
    margin: 32px 0;
}

form label {
    font-size: 1rem;
}

form select {
    margin: 0;
}

form input {
    margin: 0 10px;
}

#expand {
    background-color: var(--dark);
}

form button {
    background-color: var(--primary);
    color: var(--light);
    padding: 20px;
}

/* 
* Settings
*/

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* 
* Calendar
*/

#calendar {
    display: flex;
    flex-wrap: wrap;
}

.cell .tooltip {
    visibility: hidden;
    background-color: var(--dark);
    box-shadow: 3px 3px 10px 6px rgba(29, 29, 29, .2);
    color: var(--light);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    left: 45%;
    z-index: 1;
}

.cell:hover .tooltip {
    visibility: visible;
}

.cell {
    height: 6px;
    width: 6px;
    margin: 1px;
    background-color: var(--light-20);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-out;
}

.cell:hover {
    background-color: var(--light);
}

.hbd {
    background-color: var(--primary);
    color: var(--dark);
}

.now {
    background-color: coral;
}