/* 
* Styles
*/

:root {
    --dark: rgb(21, 24, 26);
    --light: rgb(241, 236, 226);
    --primary: rgb(0, 195, 183);
    --secondary: rgb(23, 161, 152);
}

body {
    margin: 0;
    font-family: monospace;
    background-color: var(--dark);
    color: var(--light);
}

button {
    border: none;
    background: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-decoration: none;
    margin: 0;
}

/* 
* Utilities
*/

.hidden {
    display: none;
}

/* 
* Intro
*/

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
}

#intro h1 {
    font-size: 3rem;
}

#intro p {
    margin: 0;
}

/* 
* Form
*/

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 6em 0;
}

#questions form {
    margin: 0;
}

.question {
    margin: 32px 0;
}

form label {
    font-size: 1rem;
}

form select {
    margin: 0;
}

form input {
    margin: 0 10px;
}

#expand {
    background-color: var(--dark);
}

form button {
    background-color: var(--primary);
    color: var(--light);
    padding: 20px;
}

/* 
* Calendar
*/

#calendar {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: var(--light);
    opacity: .5;
}